# Gradle
.gradle/
build/

# OS
.DS_Store

# Logs
*.log

# Spring config (secrets)
src/main/resources/application.yml
src/main/resources/application-dev.yml
src/main/resources/application-local.yml
src/main/resources/application-test.yml

# IDE
.idea/
*.iml
.vscode/
